@import "../../style.scss";



.about {
    @include themify($themes) {
        .sec-1 {
            height: auto;
            // background-color: #023731;
            display: flex;
            padding: 3rem 0;

            // [data-aos="fade-up"] {
            //     opacity: 0;
            //     opacity: 1 !important;
            //     transform: translateY(20px); // Adjust as needed
            //     transition: opacity 0.5s, transform 0.5s;
            // }

            .left {
                display: flex;
                width: 50%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                // opacity: 1;
                // transform: translateY(20px);
                

                @include mobile {
                    width: 100%;
                    justify-content: center;

                }

                .content {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    

                    .intro {
                        width: 80%;
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 3rem;

                        span {
                            color: #023731;
                            font-size: calc(2vw + 1rem);
                            font-weight: 700;

                            @include mobile {
                                text-align: center;
                            }
                        }

                        p {
                            // color: #ffff;
                            font-size: calc(0.7vw + 0.5rem);
                            @include mobile {
                                text-align: justify;
                            }
                        }
                    }

                }
            }

            .right {
                display: block;
                position: relative;
                width: 50%;

                // opacity: 0;
                // transform: translateY(20px);

                @include tablet {
                    
                }

                @include mobile {
                    display: none;
                }

                .img-1 {
                    display: inline-block;
                    position: absolute;
                    width: calc(29vw + 6rem);
                    aspect-ratio: 1;
                    top: 1%;
                    right: 0;
                    clip-path: polygon(39% 0, 79% 0, 100% 22%, 100% 60%, 59% 100%, 0 39%);
                }

                .img-2 {
                    display: inline-block;
                    position: absolute;
                    width: calc(20vw + 8rem);
                    aspect-ratio: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-70% , -20%);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

                }

                .img-3 {
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 45%;
                    width: calc(12vw + 4rem);
                    aspect-ratio: 0;
                    transform: translateY(-22%);

                }





            }

            // .left [data-aos="fade-up"],
            // .right [data-aos="fade-up"] {
            //     opacity: 1;
            //     transform: translateY(0);
            // }

            @include tablet {}

            @include mobile {}

        }
    }
}
