@import "../../style.scss";


.blog-container {
    @include themify($themes) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 20px auto;

        span {
            font-size: calc(1vw + 0.3rem);
            font-weight: 600;
        }

        .blog {
            padding: 0 1rem;


            img {}

            .desc {

                p {
                    text-align: justify;
                }

                .blog-more {}

            }
        }
    }
}