@import "../../style.scss";


.services {
    @include themify($themes) {
        .sec-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: themed("brand");
            height: calc(10vh + 10vw);

            h1 {
                font-size: 6vw;
                font-weight: 700;
                color: #ffff;

            }
        }

        .sec-2 {
            display: flex;
            height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #F5F5F7;

            @include tablet {
                height: auto;

            }

            @include mobile {
                height: auto;

            }


            .container {
                display: flex;
                width: 70%;
                margin: 12vh 0;
                background-color: #ffff;
                border-radius: 24px;
                padding: 60px;
                justify-content: space-between;

                @include tablet {
                    width: 90%;
                    margin: 8vh 0;
                }

                @include mobile {
                    width: 95%;
                    margin: 5vh 0;
                }

                .left-box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 23px;
                    width: 70%;

                    @include tablet {
                        width: 85%;
                    }

                    @include mobile {
                        width: 100%;
                        align-items: center;
                    }

                    span {
                        font-size: calc(2.2vw + 0.8rem);
                        font-weight: 700;
                        color: themed("text-gray");
                        background-color: #e2e2e2;
                        padding: 10px 15px;
                        border-radius: 8px;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            background-color: themed("brand");
                            color: #ffff;
                        }

                        @include tablet {}

                        @include mobile {
                            text-align: center;
                            font-size: calc(0.5rem + 3vw);
                        }
                    }

                    p {
                        color: themed("text-light-gray");
                        display: inline-block;
                        width: auto;
                        text-align: left;

                        @include tablet {}

                        @include mobile {
                            text-align: center;
                        }
                    }
                }

                .right-box {
                    width: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include tablet {}

                    @include mobile {
                        display: none;
                    }

                    img {
                        width: 80%;
                    }
                }

                &:nth-of-type(even) {
                    flex-direction: row-reverse;

                    .left-box {
                        align-items: flex-end;

                        @include tablet {}

                        @include mobile {
                            align-items: center;
                            text-align: center;
                        }

                        p {
                            text-align: right;

                            @include tablet {}

                            @include mobile {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .sec-3 {
            display: flex;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 12vh 0;

            @include tablet {
                height: auto;
            }

            @include mobile {
                height: auto;
                margin: 6vh 0;
            }

            .container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 80%;
                gap: 4vw;

                @include tablet {
                    gap: 8vw;
                    width: 90%;
                }

                @include mobile {
                    margin: 5vh 0;
                }

                .upper-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        color: themed("text-gray");
                        font-size: calc(2vw + 1rem);
                        font-weight: 600;

                        @include tablet {}

                        @include mobile {
                            font-size: calc(1rem + 4vw);
                            text-align: center;
                        }
                    }
                }

                .lower-box {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    

                    @include tablet {
                        width: 100%;
                    }

                    @include mobile {
                        flex-direction: column;
                        height: auto;
                        padding: 5vh 0;
                        gap: calc(2vw + 1rem);
                    }

                    .box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 24px;

                        .blank {
                            display: block;
                            width: calc(5vw + 3rem);
                            aspect-ratio: 1;
                            background: themed("brand");
                            border-radius: calc(1vw + 0.6rem);

                            @include tablet {
                                width: calc(5vw + 3rem);
                                aspect-ratio: 1;
                                border-radius: calc(1vw + 0.4rem);
                            }

                            @include mobile {
                                width: calc(5vw + 3rem);
                                aspect-ratio: 1;
                                border-radius: calc(1vw + 0.2rem);
                            }
                        }

                        span {
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: themed("text-gray");
                        }
                    }
                }
            }
        }
    }
}