@import "../../style.scss";


.contact {
    @include themify($themes) {
        padding: 2rem 0;

        .contact-form {

            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fbf9d4 ;
            border-radius: 5px;
            // box-shadow: 0 2px 4px #0000001a;

            h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            form {
                .form-group {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;

                    label {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    input,
                    textarea {
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        font-size: 14px;
                        outline: none;
                    }
                }

                button[type='submit'] {
                    padding: 10px 20px;
                    background-color: themed("brand");
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;

                    &:hover {
                        background-color: themed("brand");
                    }
                }
            }


        }
    }
}