@import "../../style.scss";

.home {
  @include themify($themes) {
    .sec-6 {
      // background-image: url("../../assets/Group (1).png");
      height: auto;
      padding: 5rem 0;
      //   background-color: themed("brand");
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include mobile {
        height: auto;
        padding: 1rem 0;
      }
      button {
        text-decoration: none;
        width: 20%;
        text-align: center;
        font-size: larger;
        background-color: #054e45;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        color: white;
        margin: 2%;
      }

      .container {
        display: flex;
        width: 80%;
        color: black;
        justify-content: center;
        align-items: center;
        gap: calc(1rem + 9vw);

        @include tablet {
        }

        @include mobile {
          flex-direction: column;
        }

        .left-box {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          gap: calc(0.8rem + 2vw);
          width: 50%;

          @include tablet {
          }

          @include mobile {
            width: 100%;
            justify-content: center;
            align-items: center;
          }

          span {
            font-size: themed("text-lg");
            background-color: #054e45;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            color: white;

            font-weight: 700;

            @include tablet {
            }

            @include mobile {
              width: 100%;
              text-align: center;
            }
          }

          .heading {
            font-size: xx-large;
            background-color: white;
            color: #054e45;
            padding: 0%;
            margin: 0;
          }

          

          p {
            font-weight: 400;
            font-size: 15px;
 
            em {
              font-weight: 700;
              font-size: 18px;
            }

            @include tablet {
            }

            @include mobile {
              text-align: justify;
            }
          }

          a {
            text-decoration: none;
            // background-color: #054e45;
            border-radius: 4px;
            font-size: larger;
            // padding: 0.5rem 1rem;
            // color: white;
          }
        }

        .right-box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40%;

          img {
            display: block;
            width: 100%;
          }

          @include tablet {
          }

          @include mobile {
            width: 100%;
          }
        }
      }
    }

    .sec-5 {
      display: flex;
      justify-content: center;
      align-content: center;
      height: auto;
      padding: 4rem 0;
      padding-bottom: 8rem;
      position: relative;
    
      .container {
        // z-index: 999;
        // pointer-events: none;
        overflow: visible;
        width: 1084px;
        height: 467px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #fbf9d4;

        @include mobile {
          padding: 20px; /* Adjust container padding for mobile */
          height: fit-content;
        }
      }
    
      button {
        text-decoration: none;
        width: 40%;
        text-align: center;
        background-color: #054e45;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        color: white;
        margin: 0 auto;
        

        @include mobile {
          width: 100%; /* Make button full width on mobile */
          max-width: calc(100% - 20px); /* Ensure button fits within container */
        }
      }
    
      .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        cursor: pointer;
      }
    
      p {
        color: #181818;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
      }
    
      input,
      .message-input {
        width: 440px;
        height: 47px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #fffff9;
      }
    
      .message-input {
        width: 448px;
        height: 225px;
        flex-shrink: 0;
        resize: none;
        box-sizing: border-box;
        padding: 10px;

        // @include mobile {
        //   width: 100%; /* Make message input full width on mobile */
        //   // height: 100px;
        //   padding: 20px;
        //   max-width: calc(100% - 20px); /* Ensure input fits within container */
        // }
      }
    
      .content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 5%;
        gap: 2rem;
        padding: 10px 0;
    
        @include mobile {
          align-items: center;
        }
       
    
        @include tablet { 
          align-items: center;
        }
    
        .half {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
        }
      }
    
      .name-tag,
      .Whatsapp-tag,
      .Email,
      .msg-tag {
        padding-bottom: 10px;
        // margin-left: 120px;
        position: relative;
        // margin-top: -10px;
      }

      .msg-tag{
        @include mobile{
          margin-left: 5px;
          margin-top: -25px;
          width: 250px;
          height: 250px;
        }
      }
    
      @include mobile {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 20px 0; /* Adjust padding for smaller screens */
        .container {
          width: 70%;
          max-width: 500px;
          height: 650px;
          padding: 20px; /* Adjust container padding */
          
        }
        button {
          width: 70%; /* Adjust button width */
          margin-top: -70px; /* Add margin at the top */
          margin-left: 20px;
        }
        .submit {
          margin-top: 40px; /* Adjust margin */
        }
        input,
        .message-input {
          width: 100%; /* Make input width full-width */
          max-width: calc(100% - 20px); /* Subtract container padding */
        }
        .message-input{
          height: 140px;
        }
        .content {
          padding: 5% 2%; /* Adjust padding */
          flex-direction: column; /* Display content in one column on mobile */
          align-items: center; 
        }
      }
    }
    
    .sec-1 {
      height: 75vh;
      display: flex;
      align-items: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // image-rendering: -webkit-optimize-contrast;
      // image-rendering: optimizeQuality;
      // animation: fadeIn 2s;
      @include mobile {
        flex-direction: column-reverse;
        img {
          height: 35vh;
          overflow: hidden;
        }
      }
      .video {
        // background-image: linear-gradient(92deg, #FFF 3.38%, rgba(255, 255, 255, 0.00) 52.8%);
        width: 100%;
        height: 100%;
        transform: scale(1.35);
        // z-index: 1;
        border: #f5f5f5;
        @include mobile {
          height: 35vh;
          overflow: hidden;
          transform: scale(1);
          margin: 0;
        }
        @include tablet {
          height: 35vh;
          overflow: hidden;
          transform: scale(1);
          margin: 0;
        }
      }
      .random {
        margin-right: 8%;
        @include mobile {
          width: 100vw;
          margin-right: 0;
        }
      }

      .left {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: right;
        align-items: center;
        z-index: 2;

        @include tablet {
          width: 100%;
        }

        @include mobile {
          width: 100%;
          height: 80%;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;
          gap: 0rem;
          margin-left: 5%;

          .gradient {
            background: -webkit-linear-gradient(
              87deg,
              #054e45 24.85%,
              #4fa0db 123.94%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          
          .downloadApp{
            transition: ease-in-out;
          }

          .downloadApp:hover {
            transform: scale(1.1);
           }

          @include tablet {
            width: 90%;
            margin: auto;
            align-items: center;
          }

          @include mobile {
            width: 100%;
            // margin: auto;
            align-items: center;
          }

          span {
            // font-size: themed("text-lg");
            background: -webkit-linear-gradient(
              87deg,
              #054e45 24.85%,
              #4fa0db 123.94%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: calc(2.5vw + 3rem);
            font-weight: 800;
            color: themed("brand");

            @include tablet {
              text-align: center;
            }

            @include mobile {
              text-align: center;
            }
          }

          p {
            color: #ff8f1c;
            font-size: calc(0.6vw + 2.5vw);
            font-weight: 800;

            @include tablet {
              font-size: themed("text-sm");
            }
          }

          .inc {
            color: #ff8f1c;
            font-size: calc(0.5vw + 2rem);
            font-weight: 200;

            @include tablet {
              font-size: themed("text-sm");
            }
          }

          a {
            margin-top: 40px;
            background-color: #054e45;
            display: flex;
            aspect-ratio: 3;
            width: calc(10vw + 2rem);
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 0.2vw;
            font-weight: 700;
            font-size: calc(0.9vw + 0.5rem);
            @include mobile {
              width: calc(20vw + 4rem);
              font-size: calc(2vw + 0.5rem);
            }
          }
        }
      }

      .right {
        display: flex;
        width: 50%;
        height: 100%;
        position: relative;

        @include tablet {
          display: none;
        }

        @include mobile {
          display: none;
        }

        .white {
          display: block;
          position: relative;
          // background-color: rgb(255, 255, 255);
          background-image: linear-gradient(
            92deg,
            #fff 3.38%,
            rgba(255, 255, 255, 0) 52.8%
          );
          height: 100%;
          width: 20%;
          z-index: 2;
        }

        .img {
          position: absolute;
          display: block;
          background-color: transparent;
          object-fit: cover;
          z-index: 1;
          width: 80%;
          height: 100%;

          @include tablet {
            display: none;
          }

          @include mobile {
            display: none;
          }
        }

        .green {
          display: block;
          height: 100%;
          width: 80%;
          background-color: themed("brand");
          overflow: hidden;
          object-fit: cover;
          position: relative;

          .img {
            display: inline-block;
            position: static;
            width: 100%;
            height: 100%;
            margin: auto;
            overflow: hidden;
            object-fit: cover;
            overflow: hidden;
            z-index: 0;
            transform: scale(2);
          }
        }
      }
    }

    .sec-2 {
      background-image: url("../../assets/Group (1).png");
      height: auto;
      padding: 2rem 0;
      //   background-color: themed("brand");
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        height: auto;
        padding: 1rem 0;
      }

      .container {
        display: flex;
        width: 80%;
        color: black;
        justify-content: center;
        align-items: center;
        gap: calc(1rem + 9vw);

        @include tablet {
        }

        @include mobile {
          flex-direction: column;
        }

        .left-box {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          gap: calc(1rem + 3vw);
          width: 50%;

          @include tablet {
          }

          @include mobile {
            width: 100%;
            justify-content: center;
            align-items: center;
          }

          span {
            font-size: themed("text-lg");
            background-color: #054e45;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            color: white;

            font-weight: 700;

            @include tablet {
            }

            @include mobile {
              width: 100%;
              text-align: center;
            }

            .allServices{
              transition: ease-in-out;
            }
  
            .allServices:hover {
              transform: scale(1.1);
             }
  

          }

          p {
            font-weight: 400;
            font-size: 18px;

            em {
              font-weight: 700;
              font-size: 18px;
            }

            @include tablet {
            }

            @include mobile {
              text-align: justify;
            }
          }

          a {
            text-decoration: none;
            background-color: #054e45;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            color: white;
          }

          .allServices{
            transition: ease-in-out;
          }

          .allServices:hover {
            transform: scale(1.1);
           }

        }

        .right-box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40%;

          img {
            display: block;
            width: 100%;
          }

          @include tablet {
          }

          @include mobile {
            width: 100%;
          }          
        }

        .buyNow{
          transition: ease-in-out;
        }

        .buyNow:hover {
          transform: scale(1.1);
         } 
      }
    }

    .sec-3 {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 207px;
      background-color: #f5f5f5;

      .container {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;

        @include tablet {
        }

        @include mobile {
          flex-direction: column;
          justify-content: center;
          gap: calc(1rem + 2vw);
        }

        .left-box {
          display: flex;
          flex-direction: column;
          width: 45%;

          @include tablet {
            width: 55%;
          }

          @include mobile {
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
          }

          

          span {
            font-size: themed("text-lg");
            font-weight: 700;
            color: themed("brand");

            span {
              color: #ffff;
              -moz-text-stroke: 1px themed("brand");
              -webkit-text-stroke: 1px themed("brand");
            }
          }

          p {
            color: #434343;
            font-size: themed("text-xs");
          }
        }

        .right-box {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 48px;

          @include tablet {
            width: auto;
          }

          @include mobile {
          }

          .logo {
            display: inline-block;
            width: 41px;
            height: 41px;
            background-color: themed("brand");
            border-radius: 4px;
          }
        }
      }
    }

    .sec-4 {
      display: flex;
      justify-content: center;
      align-content: center;
      height: auto;
      padding: 4rem 0;
      position: relative;

      a {
        text-decoration: none;
        color: #ffff;

        .up {
          position: absolute;
          bottom: 36px;
          right: calc(0.5rem + 3vw);
          display: flex;
          width: calc(1.5rem + 2vw);
          height: calc(1.5rem + 2vw);
          background-color: themed("brand");
          border-radius: 50%;
          text-align: center;
          align-items: center;
          justify-content: center;
          
          
          

          img {
            width: 50%;
          }
        }

        
        
      }
      
      .container {
        display: flex;
        width: 80%;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;

        span {
          font-size: themed("text-lg");
          font-weight: 700;
          color: themed("brand");
        }

        .blogs {
          display: flex;
          justify-content: space-between;
          width: 100%;
          gap: 70px;

          @include mobile {
            flex-direction: column;
            gap: 20px;
            align-items: center;
          }

          .blog {
            display: flex;
            flex-direction: column;
            max-width: 346px;
            background-color: #f5f5f5;
            border-radius: 8px;
            
            img {
              object-fit: cover;
            }

            .desc {
              width: 90%;
              margin: 1.3rem auto;
              display: flex;
              flex-direction: column;
              gap: 35px;

              p {
                font-size: 1rem;
                font-weight: 600;
                color: #434343;
              }

              .blog-more {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                a {
                  text-decoration: none;
                  border-radius: 4px;
                  padding: 0.25rem 0.5rem;
                  color: #ffff;
                  margin-top: 6px;
                  background-color: themed("brand");
                }

                span {
                  font-size: 12px;
                  font-weight: 400;
                  color: #838383;
                }
              }
            }
          }
        }
      }
    }
    .sec-7 {
      padding: 40px 0;
      background-color: #ffffff; /* Set background color to white */
      //border: none; /* Remove any border */
      @include mobile {
        flex-direction: column;
      }
    }
    .sec-7 .container .recognition-heading {
      display: inline-block; /* Set display to inline-block to enable setting width */
      width: 1200px; /* Set width to 1200px */
      height: 70px; /* Set height to 70px */
      line-height: 70px; /* Set line height equal to height for vertical centering */
      margin-left: 120px; /* Set margin from left */
      margin-right: 170px; /* Set margin from right */
      font-weight: bold;
      font-size: 40px; 
      margin-top: -200px;
    }
    
    .container {
      padding: 0 15px;
      background-color: #ffffff; /* Set background color to white */
    }
    
    .recognition-images {
      display: flex;
      justify-content: center; /* Center images horizontally */
      align-items: center;
      flex-wrap: wrap;
      gap: 20px; /* Add gap between images */
      // border: 2px solid rgb(124, 19, 189);
      height: 350px;
      padding: 20px;

    }
    
    .recognition-item {
      text-align: center;
      width: 300px; /* Set a fixed width for each item */
      margin-top: 0px;
    }
    
    .recognition-item img {
      height: 100%; /* Set the height of the images to cover the entire height of the container */
      width: auto; /* Allow the width to adjust accordingly */
      max-width: 100%; /* Ensure the images don't exceed the container width */
      border-radius: 8px; /* Rectangular shape */
      object-fit: cover; /* Ensure the entire image is visible */
      // border: 2px solid black; //* Optional: Add a border around the images */
    }

    .recognition-item p {
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #434343;
      margin-bottom: 0; /* Remove bottom margin to align with image */
    }
    
    .recognition-item:nth-child(1) {
      text-align: center;
      margin-left: -120px;
      margin-bottom: 20px; /* Add margin at the bottom to create space */
      margin-top: 30px; /* Add negative margin to move it upwards */
    }
    .recognition-item:nth-child(2) {
      text-align: center;
      margin-left: 0px;
      margin-bottom: 20px; /* Add margin at the bottom to create space */
      margin-top: -80px; /* Add negative margin to move it upwards */
    }
    .recognition-item:nth-child(1) img {
      width: auto; /* Set the first image to cover the entire width */
      max-width: 100%;
      height: 50px;

    }
    .recognition-item:nth-child(2) img {
      height: 170px;
      width: auto; /* Set the height of recognition2 same as recognition3 */
      max-width: 100%; /* Ensure the image doesn't exceed the container width */
      border-radius: 8px; /* Rectangular shape */
      object-fit: cover;
      margin-top: 65px;
      margin-left: 0px;
    }
    .recognition-item:nth-child(4) {
      text-align: center;
      width: auto;
      max-width: 100%;
      height: 200px;
      margin-left: 50px;
      // margin-bottom: -30px; /* Add margin at the bottom to create space */
      margin-top: -110px; /* Add negative margin to move it upwards */
    }
    .recognition-item:nth-child(3) {
      text-align: center;
      width: auto;
      max-width: 100%;
      margin-left: 50px;
      height: 200px;
      // margin-bottom: -30px; /* Add margin at the bottom to create space */
      margin-top: -110px; /* Add negative margin to move it upwards */
    }

    .recognition-item:nth-child(1) img {
      width: 100%; /* Set the first image to cover the entire width */
      height: 150px;
      width: auto;
      object-fit: cover;
      max-width: 100%;
      // margin-top: 0px;

      // margin-top: 40px;
    }

    
    
    // .recognition-item:nth-child(n+2) img {
    //   width: calc(50% - 10px); /* Set width for other images with some gap between them */
    // }
    
    .recognition-item p {
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #434343;
    }
    
    .arrow {
      text-decoration: none;
      color: #ffff;
      z-index: 9999;
      pointer-events: auto;


      .up {
        position:fixed;
        bottom: 36px;
        right: calc(0.5rem + 3vw);
        display: flex;
        width: calc(1.5rem + 2vw);
        height: calc(1.5rem + 2vw);
        background-color: themed("brand");
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;

        img {
          width: 50%;
        }
      }
    }
    .upArrow:hover {
      transform: translateY(-5px);
    }
  
    @media screen and (max-width: 1200px) {
      .sec-7 .container .recognition-heading {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
      }
    
      .recognition-images {
        height: auto;
      }
    
      .recognition-item {
        width: 100%;
      }
    }
    
    /* Responsive styles for tablets and mobile devices */
    @media screen and (max-width: 768px) {
      .sec-7 .container .recognition-heading {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    
      .recognition-images {
        height: auto;
        padding: 10px; /* Adjust padding for smaller screens */
      }
    
      .recognition-item {
        width: 100%;
      }
    
      .up {
        width: 50px; /* Adjust size for smaller screens */
        height: 50px;
        bottom: 10px;
        right: 10px;
      }
    
      .up img {
        width: 30%;
      }
    }
    
    
  } 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
