@import "../../style.scss";



.Navbar {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10000;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 75px;
        margin: auto;


        @include themify($themes) {

            .brand {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 192px;

                .logo {

                    display: inline-block;
                    width: 41px;
                    height: 41px;
                    background-color: themed("brand");
                    border-radius: 4px;
                }

                span {

                    color: #404040;
                    font-size: 1.5rem;
                    font-weight: 700;

                }
            }

            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 600px;

                @include tablet {
                    display: none;
                }

                @include mobile {
                    display: none;
                }

                span {
                    color: #000000;
                    font-size: 1rem;
                }
            }

            .burger {

                display: none;

                @include tablet {
                    display: block;
                    cursor: pointer;
                }

                @include mobile {
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }

    .nav-down {
        background-color: #a0a0a068;
        position: relative;

        .nav {
            display: flex;
            flex-direction: column;
            height: 25vh;
            align-items: center;
            position: fixed;
            width: 100%;
            background-color: #eeeeee;
            a {
                color: #000000;
                width: 100%;
                text-align: center;
                padding: 5px 0;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #ffffff;
                    width: 100%;
                    background-color: #767676;
                    text-align: center;
                    padding: 5px 0;
                }
            }
        }
    }
}