@import "../../style.scss";



.Navbar {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10000;


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: calc(2.5vw + 2.2rem);
        margin: auto;

        @include mobile{
            height: calc(3vw + 3rem);
        }


        @include themify($themes) {

            .brand {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: calc(8rem + 4vw);

                @include tablet {
                    width: calc(9rem + 5vw);
                }

                @include mobile {
                    justify-content: start;
                    gap: 20px;
                    width: calc(10rem + 5vw);
                }

                .logo {

                    display: inline-block;
                    width: 41px;
                    height: 41px;
                    background-color: themed("brand");
                    border-radius: 4px;
                }
                .logo:hover {
                    transform: scale(1.1);
                }

                span {

                    color: #404040;
                    font-size: calc(1vw + 0.8rem);
                    font-weight: 700;

                }
            }

            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: calc(45vw + 10rem);

                .zoom-in{
                    transition: ease-in-out;
                  }
          
                  .zoom-in:hover {
                    transform: scale(1.1);
                   } 

                @include tablet {
                    display: none;
                }

                @include mobile {
                    display: none;
                }

                span {
                    color: #000000;
                    font-size: calc(0.8vw + 0.5rem);
                }
            }
            
            .burger {

                display: none;
                font-size:  calc(1.8vw + 1rem);

                @include tablet {
                    display: block;
                    cursor: pointer;
                }

                @include mobile {
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }

    .nav-down {
        background-color: #a0a0a068;
        position: relative;

        .nav {
            display: flex;
            flex-direction: column;
            height: auto;
            align-items: center;
            position: fixed;
            width: 100%;
            background-color: #eeeeee;

            a , div{
                color: #000000;
                width: 100%;
                text-align: center;
                padding: 5px 0;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #ffffff;
                    width: 100%;
                    background-color: #767676;
                    text-align: center;
                    padding: 5px 0;
                }
            }
        }
    }
}
