@import "../../../style.scss";

.crop-container {
    @include themify($themes) {
        height: 130vh;
        width: 80%;
        margin: auto;

        @include tablet {}

        @include mobile {
            height: 70vh;
        }
    }

    h1 {
        color: #434343;
        height: 10vh;
        text-align: center;
        margin: auto;
        @include mobile{
            font-size: calc(0.5rem + 5vw);
        }
    }

    .selects {
        display: flex;
        margin: auto;
        width: 60%;
        gap: 10px;
        height: 5vh;
        justify-content: space-around;
        align-items: center;

        @include tablet {
            width: 100%;
        }

        @include mobile {
            flex-direction: column;
            height: 20vh;
            gap: 5vw;
        }

        select {
            border-radius: 4px;
            height: 4vh;
            border: 2px solid #3D5A27;
            padding: 2px 4px;
            color: #3D5A27;
            font-weight: bold;
            outline: none;

            option:hover {
                background-color: #3D5A27;
                color: inherit;
                box-shadow: inset 0 -1px 0 0 #3D5A27;
            }
        }

        button {
            width: 15%;
            height: 4vh;
            border: 2px solid #3D5A27;
            background-color: #3D5A27;
            color: white;
            border-radius: 4px;
            font-weight: bold;
            outline: none;
            transition: ease-in-out 0.25s;

            @include mobile {
                width: calc(2rem + 9vw);
            }

            &:hover {
                color: #3D5A27;
                background-color: white;
            }
        }
    }
}